<h3>Address Form:</h3>
<form class="formwidth" (submit)="onSubmit()" #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input type="text" matInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname"/>
        </mat-input-container>
        <mat-input-container class="fullwidth">
            <input type="text" matInput placeholder="Last Name" id="lastname" [(ngModel)]="address.lastname" name="lastname"/>
        </mat-input-container>
      </td>
    </tr>
  </table>
  <p>
    <mat-input-container class="fullwidth">
      <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </mat-input-container>
  </p>
  <table class="fullwidth" cellspacing="0">
      <tr>
        <td>
          <mat-input-container class="fullwidth">
            <input type="text" matInput placeholder="City" id="city" [(ngModel)]="address.city" name="city"/>
          </mat-input-container>
          <mat-input-container class="fullwidth">
            <input type="text" matInput placeholder="State" id="state" [(ngModel)]="address.state" name="state"/>
          </mat-input-container>
          <mat-input-container class="fullwidth">
            <input type="text" matInput maxlength="5" #postalcode placeholder="Postal Code" id="postalcode" [(ngModel)]="address.postalcode" name="postalcode"/>
            <mat-hint align="end">
              {{postalcode.value.length}} / 5
            </mat-hint>
          </mat-input-container>
        </td>
      </tr>
    </table>
    <p>
      <button type="submit" mat-raised-button>Submit</button>
    </p>
</form>