<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Angular Material Menu</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
            Open Menu
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenu">
                <mat-icon>input</mat-icon>
                <a [routerLink]="['/']">Form</a>
            </button>
            <button mat-menu-item>
                <mat-icon>add_alert</mat-icon>
                <a [routerLink]="['/dialogs']">Dialogs</a>
            </button>
            <button mat-menu-item>
                <mat-icon>mouse</mat-icon>
                <a [routerLink]="['/tooltip']">Tooltip</a>
            </button>
            <button mat-menu-item>
                <mat-icon>low_priority</mat-icon>
                <a [routerLink]="['/snackbar']">Snackbar</a>
            </button>
            <button mat-menu-item>
                <mat-icon>arrow_back</mat-icon>
                <a [routerLink]="['/sidenav']">Sidenav</a>
            </button>
            <button mat-menu-item>
              <mat-icon>build</mat-icon>
              <a [routerLink]="['/toolbar']">Toolbar</a>
            </button>
            <button mat-menu-item>
              <mat-icon>accessibility</mat-icon>
              <a [routerLink]="['/users']">Users</a>
            </button>
        </mat-menu>
        <mat-menu #subMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>flag</mat-icon>
                <span>Subitem 1</span>
            </button>
            <button mat-menu-item>
                <mat-icon>inbox</mat-icon>
                <span>Subitem 2</span>
            </button>
        </mat-menu>
    </mat-card-content>
</mat-card>